<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Django Sample</title>
  </head>
  <body>
    <h2>Hello, {{ name }}</h2>
    <h2>Today's weather: {{ weather | lower }} </h2>
    <ul>
        {% for item in weather_detail %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <h2>Today's fortune: {{ fortune }} </h2>
    {% if isGreatFortune %}
    <img src="https://1.bp.blogspot.com/-al_xSk3GL1o/XLAdSlunhRI/AAAAAAABSXQ/3_HokhAnxAA6X-noz5UOIm88i73rclf8gCLcBGAs/s200/mark_oukan_crown9.png">
    {% else %}
    <img src="https://1.bp.blogspot.com/-lhnCOZpQOAI/XGjx_uTW7fI/AAAAAAABRdc/EkM9bOYa5xEXF89YtBG7F9cdIcCOKTp6wCLcBGAs/s400/animal_panda_cheerleader.png">
    {% endif %}
  </body>
</html>