
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>CinemaCompass</title>
  <meta name="description" content="ディスクリプションを入力">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/help.css' %}">
  <!-- [if lt IE 9] -->
  <script src="{% static 'js/help.js' %}"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <!-- [endif] -->
  <script src="main.js"></script>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body style="text-align: center;">

  <!----- header----->
  <header>
      <div class="ber">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <!--ここからメニュー-->
          <div style="text-align: center;" class="menu-content">
              <ul>
                 <li>
                    <a href="{% url 'top' %}">トップページ</a>
                 </li>
                  <li>
                      <a href="{% url 'question' %}">Question Page</a>
                  </li>

                  <li>
                      <a href="{% url 'user_login' %}">ログイン</a>
                  </li>
                  <li>
                      <a href="{% url 'user_logout' %}">ログアウト</a>
                  </li>
                  <li>
                      <a href="{% url 'license' %}">ライセンス</a>
                  </li>
                  <li>
                      <a href="{% url 'help' %}">ヘルプ</a>
                  </li>
                  <li>
                      <a href="{% url 'info' %}">お問い合わせ</a>
                  </li>
              </ul>
          </div>
          <!--ここまでメニュー-->
      </div>

  </header>
  <!----- /header ----->
  <!----- main ----->
  


 <body background="{% static 'images/background1.png' %}" width="500" height="500">
    <nav>
        <ul>
        <li><a href="{% url 'top' %}">トップページ</a></li>
        <li><a href="{% url 'question' %}">Question Page</a></li>
        <li><a href="{% url 'user_login' %}">ログイン</a></li>
        <li><a href="{% url 'user_logout' %}">ログアウト</a></li>
        <li><a href="{% url 'help' %}">ヘルプ</a></li>
        <li><a href="{% url 'info' %}">問い合わせ</a></li>
        </ul>
    </nav>


    <div style="text-align: center" class="cinema">
        <a  href ="{% url 'top' %}"><img  src="{% static 'jpg/CinemaCompass_tomei.jpg' %}" width="400" height="80"></a>
    </div>

 <section>
    {% if user.is_authenticated %}
    <p style="text-align: center ; color: rgb(180, 48, 48); font-size: large;"></p>
    {% else %}
    <p>ログインをしてください。</p>
    {% endif %}

    {% if recommended_movies %}
<h2>お勧めの映画</h2>
<ul>
    {% for movie in recommended_movies %}
    <li>
        <h3>{{ movie.title }}</h3>
        <img src="https://image.tmdb.org/t/p/w500{{ movie.image_url }}" alt="{{ movie.title }}">
        <p>{{ movie.overview }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2 style="color: rgb(255, 253, 251);">＜ヘルプ＞</h2>
{% endif %}

<details>
    <summary>What's up “CinemaCompass”?</summary>
    「あなたの好きな映画を一緒に探しませんか？」
    このサービスはあなたの映画探しの助け舟となるサービスです。
    【映画に詳しい友人】である当サイトのAIとお話してみませんか?
    CinemaCompassは、AIを利用した映画紹介サービスです。
     ユーザーの趣味嗜好を考慮し、豊富なデータベースからそれぞれのユーザーに最適な映画を提案します。
     ユーザー登録を行い、お気に入りの映画を保存することで、さらなる興味深い映画の発見が可能です。
</details>
    
<details>
    <summary>使い方</summary>
        サイトにアクセスすると、ユーザー登録欄が表示されます。
            登録せずに利用することも可能ですが、ユーザー趣向の収集および利用のためには登録をお願いいたします。</p>
        <p>登録にはユーザー名とパスワードのみが必要ですので、プライバシーの観点からも安心してご利用いただけます。</p>
        <img src="{% static 'images/assign.png' %}" alt="Assign" width="500" height="500"/>
        <br>
        <p>登録後、最初の質問にお答えください。好きなジャンル、監督、俳優について思いつくものを教えてください。</p>
        <p>この情報は最初の検索ラインに利用されるだけであり、今後の利用に応じてユーザーの趣味嗜好は変化する可能性があります。
            ユーザー一人一人に合ったデータを提示できるようになります。</p>
        <img src="{% static 'images/firstquestion.png' %}" alt="firstquestion" width="450" height="250"/>
        <br>
        <p>トップページに遷移すると、おすすめ映画が表示されるようになります。
            初回の登録直後は、最初の質問で提供された情報しかないため、あなたの好みに完全に合致する映画が表示されない可能性があります。
            しかし、質問や評価を繰り返すことにより、徐々にあなた好みの映画を見つけやすくなります。</p>
        <img src="{% static 'images/top.png' %}" alt="top" width="550" height="300"/>
        <br>
</details>

<details>
    <summary>上部タブについてご説明します</summary>
        <p>トップページ
            - トップページに遷移します。
            お気に入りや会話履歴からおすすめ映画が表示されるページです。</p>
        <p>- Question Page
            - 質問ページです。
            当サイトの中核部分であり、このページにて様々な質問をいただくことで、あなた好みの映画を豊富なデータベースから提供いたします。
        </p>
        <p>- ログイン、ログアウト
            - ユーザーデータを活用することで検索結果が向上します。
            ぜひともログインした状態でご利用いただけると幸いです。
        </p>
        <p>- ヘルプ
            - 当ページです。
            基本的な使い方や当サイトについての情報が記載されています。
        </p>
        <p>- 問い合わせ
            - お問い合わせページです。
            当サイトを利用する際に生じた疑問点やシステム上の不具合がありましたら、こちらのページをご利用ください。
            基本的にはAIを用いるサービスであるため、気になることはQuestion Pageで質問すると解決する可能性もございます。
            </p>
        <p></p>
        

また、右上部にあるハンバーガーメニューからは当サイトの全ページへのリンクが可能です。そちらもぜひご活用ください。
</details>
 
<details>
    <summary>どんな質問をしたらいいかお困りのあなたへ</summary>
    <p>CinemaCompassを始めるには、簡単な質問からスタートしましょう。
        例えば、好きなジャンルやお気に入りの監督、最近観た映画で印象に残ったものについて教えてください。
        これらの質問に答えることで、AIがあなたの好みを理解し、よりパーソナライズされた映画のおすすめを提供します。</p>

    <p>1. 好きな監督に基づく質問:
        - 「〇〇監督の作品が好きです。同じような雰囲気の映画を教えていただけますか？」</p>
    <p>2. 映画の印象に基づく質問:
        - 「前に見た〇〇という映画が面白かったのですが、同じような感動を味わえる映画はありますか？」</p>
    <p>3. ジャンルに関する質問:
        - 「最近、〇〇というジャンルの映画にハマっています。その中でおすすめの作品はありますか？」</p>
    <p>4. 俳優や女優に関する質問:
        - 「〇〇という俳優（女優）が出演している映画をもっと知りたいです。おすすめの作品はありますか？」</p>
    <p>5. 映画の雰囲気に基づく質問:
        - 「気分転換したいときにぴったりな、軽快で楽しい映画を教えてください。」</p>
    <p>6. 映画の新しい発見に関する質問:
        - 「最近、新しい映画を探しているんですが、知られざる名作や注目すべき作品があれば教えていただけますか？」</p>
    <p>7. クラシック映画に関する質問:
        - 「昔のクラシック映画に興味を持っています。代表作や見逃している名作があれば教えていただけますか？」</p>


    <p>他にも様々な質問が可能です。
        そこにいるのが【映画に詳しい友人】だと思ってたくさん質問してください。</p>

</details>


    </section>
 </article>
 

 <footer>

<details>
    <summary>困ったら</summary>
        <p>当サイトではChatGPTを用いたウェブアプリケーションです。questionページにて発していただいた質問はすべてAIによる回答です。
            解答の不備、使用上の問題等が置きましたら以下ページよりお問い合わせ下さい</p>
        <p><a href="{% url 'info' %}" style="color:rgb(255, 200, 71)">お問い合わせ</a></p>
    <br>
</details>

<details>
    <summary>使用ライセンス</summary>
        <p>使用するデータベースはTMDBです。
            世界中の映画愛好家に向けて構築された最大級の映画情報データベースです。
            映画やテレビ番組に関する包括的な情報を提供し、ユーザーが新しい作品を発見し、お気に入りの映画について深く掘り下げるための理想的な場所です。
            当サイトにはこのTMDBデータベースをもちいています。</p>

           
        <img src="{% static 'images/TMDB.png' %}" alt="firstquestion" />
    </details>
 </footer>
 </body>
</html>