
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>CinemaCompass</title>
  <meta name="description" content="ディスクリプションを入力">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/info.css' %}">
  <!-- [if lt IE 9] -->
  <script src="{% static 'js/info.js' %}"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <!-- [endif] -->
  <script src="main.js"></script>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body style="text-align: center;">

  <!----- header----->
  <header>
      <div class="ber">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <!--ここからメニュー-->
          <div style="text-align: center;" class="menu-content">
              <ul>
                 <li>
                    <a href="{% url 'top' %}">トップページ</a>
                 </li>
                  <li>
                      <a href="{% url 'question' %}">Question Page</a>
                  </li>

                  <li>
                      <a href="{% url 'user_login' %}">ログイン</a>
                  </li>
                  <li>
                      <a href="{% url 'user_logout' %}">ログアウト</a>
                  </li>
                  <li>
                      <a href="{% url 'license' %}">ライセンス</a>
                  </li>
                  <li>
                      <a href="{% url 'help' %}">ヘルプ</a>
                  </li>
                  <li>
                      <a href="{% url 'info' %}">お問い合わせ</a>
                  </li>
              </ul>
          </div>
          <!--ここまでメニュー-->
      </div>

  </header>
  <!----- /header ----->
  <!----- main ----->
  <nav>
    <ul>
    <li><a href="{% url 'top' %}">トップページ</a></li>
    <li><a href="{% url 'question' %}">Question Page</a></li>
    <li><a href="{% url 'user_login' %}">ログイン</a></li>
    <li><a href="{% url 'user_logout' %}">ログアウト</a></li>
    <li><a href="{% url 'help' %}">ヘルプ</a></li>
    <li><a href="{% url 'info' %}">問い合わせ</a></li>
    </ul>
</nav>


 <body>


    <div style="text-align: center" class="cinema">
        <a  href ="{% url 'top' %}"><img  src="{% static 'jpg/CinemaCompass_tomei.jpg' %}" width="400" height="80"></a>
    </div>
<!----

-->
 <section>
    {% if user.is_authenticated %}
    <p style="text-align: center ; color: rgb(180, 48, 48); font-size: large;"></p>
    {% else %}
    <p>ログインをしてください。</p>
    {% endif %}

    {% if recommended_movies %}
<h2>お勧めの映画</h2>
<ul>
    {% for movie in recommended_movies %}
    <li>
        <h3>{{ movie.title }}</h3>
        <img src="https://image.tmdb.org/t/p/w500{{ movie.image_url }}" alt="{{ movie.title }}">
        <p>{{ movie.overview }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2 style="color: rgb(255, 255, 255);">＜問い合わせ＞</h2>
{% endif %}

    <p>基本的使い方、味方については以下のページにて記載してあります。</p>
    <p>また、本サイトはChatGPTを基軸としたサービスであるためquestionページにて質問すると解決する場合もあります</p>
    <a href="{% url 'help' %}" style="color:rgb(249, 202, 74)">ヘルプ</a>
    <p>もし何か困ったことがありましたら以下の各お問い合わせ先にご連絡ください。</p>
        <li><a href="mailto:s1f102103954@iniad.org" style="color:rgb(255, 206, 81)">お問い合わせ先はこちらへ(送信日時によっては対応が遅れる場合があります。ご了承ください。)</a></li>
    <p>また、以下問い合わせフォームもご利用ください</p>
        <form id="contact" >
            <div class="container">
              <div class="head">
                <h2>お問い合わせフォーム</h2>
              </div >
              <input type="text" name="name" placeholder="Name" /><br />
              <input  type="email" name="email" placeholder="Email" /><br />
              <textarea type="text" name="message" placeholder="Message"></textarea><br />
              <div class="message">Message Sent</div>
              <button id="submit" type="submit">
                Send!
              </button>
            </div>
          </form>

 </section>
 </article>

 <footer>
    <p>開発スタッフ</p>
    <p>湯ノ口 綾人 Business:s1f102101187@iniad.org</p>
    <p>槇原 恵汰 Design:s1f102102470@iniad.org</p>
    <p>村上 世昇 Engineer s1f102103044@iniad.org</p>
    <p>後藤 達哉 Engineer:s1f102103190@iniad.org</p>
    <p>西 駿  Business:s1f102103954@iniad.org</p>
</footer>    

 </body>
</html>