{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>CinemaCompass - ログイン</title>
</head>

<body>
    <header>
        <div class="ber">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここからメニュー-->
            <div style="text-align: center;" class="menu-content">
                <ul>
                    <li>
                        <a href="{% url 'top' %}">トップページ</a>
                    </li>
                    <li>
                        <a href="{% url 'question' %}">Question Page</a>
                    </li>

                    <li>
                        <a href="{% url 'user_login' %}">ログイン</a>
                    </li>
                    <li>
                        <a href="{% url 'user_logout' %}">ログアウト</a>
                    </li>
                    <li>
                        <a href="{% url 'license' %}">ライセンス</a>
                    </li>
                    <li>
                        <a href="{% url 'help' %}">ヘルプ</a>
                    </li>
                    <li>
                        <a href="{% url 'info' %}">お問い合わせ</a>
                    </li>
                </ul>
            </div>
            <!--ここまでメニュー-->
        </div>

    </header>
    
    <div style="text-align: center" class="cinema">
        <a  href ="{% url 'top' %}"><img  src="{% static 'jpg/CinemaCompass_tomei.jpg' %}" width="400" height="80"></a>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <p class="fsize">ログイン</p>
            <label>ユーザーID:<input type="text" name="username" required></label><br>
            <label>パスワード:<input type="password" name="password" required></label><br>
            <input style="color: black;font-weight: bold;" type="submit" value="ログイン">
        </form>
    </div>
    
    <div style="text-align: center">
        <a  href="#">パスワードを忘れた方はこちら</a>
    </div>
    <div style="text-align: center">
        <a  href="{% url 'register' %}">新規登録はこちら</a>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</body>

</html>