{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">

    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script src="{% static 'js/question.js' %}"></script>
    <title>CinemaCompass - question</title>
    <!-- 他のメタタグとスクリプト -->
</head>

<header>
    <div class="ber">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <!--ここからメニュー-->
        <div style="text-align: center;" class="menu-content">
            <ul>
                <li>
                    <a href="{% url 'top' %}">トップページ</a>
                </li>

                <li>
                    <a href="{% url 'question' %}">Question Page</a>
                </li>

                <li>
                    <a href="{% url 'user_login' %}">ログイン</a>
                </li>
                <li>
                    <a href="{% url 'user_logout' %}">ログアウト</a>
                </li>
                <li>
                    <a href="{% url 'license' %}">ライセンス</a>
                </li>
                <li>
                    <a href="{% url 'help' %}">ヘルプ</a>
                </li>
                <li>
                    <a href="{% url 'info' %}">お問い合わせ</a>
                </li>
            </ul>
        </div>
        <!--ここまでメニュー-->
    </div>

</header>
<nav>
    <ul>
        <li><a href="{% url 'top' %}">トップページ</a></li>
        <li><a class="" href="{% url 'question' %}">Question Page</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'user_login' %}">ログイン</a></li>
        {% endif %}
        <li><a href="{% url 'user_logout' %}">ログアウト</a></li>
        <li><a href="{% url 'help' %}">ヘルプ</a></li>
        <li><a href="{% url 'info' %}">問い合わせ</a></li>
    </ul>
</nav>

<body background="{% static 'images/back3.png' %}" width="500" height="500">
    <div class="container">
        <!--<form method="post">-->

            <!--
            <div style="text-align: center" class="cinema">
                <a href="{% url 'top' %}"><img src="{% static 'jpg/CinemaCompass_tomei.jpg' %}" width="400"
                        height="80"></a>
            </div>-->
            <!--<form style="text-align:center" method="post">-->

                <form method="post" action="{% url 'fetch_movies' %}" style="text-align:center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">送信</button>
                </form>

                <form style="text-align: center" class="question-form" method="post">
                    {% csrf_token %}
                    <label style="color: rgba(10, 10, 10, 0.863);" class="question-label" for="user_input">AIがあなたと一緒に映画を探します</label>
                    <label class="question-label" for="user_input">▼質問を自由に入力してください▼</label>
                    <div class="user_input">
                        <textarea id="user_input" name="user_input" placeholder="ここに入力"></textarea>
                    </div>

                    <!--<div class="form-group">-->
                        <button class="favorite styled" type="submit">Ask GPT-4</button>
                    
                </form>

                <h5> </h5>
                

                {% if answer %}
                <div class="answer-section">
                    <p class="answer-label"><strong>Answer from GPT-4</strong></p>
                    <p class="answer-content">{{ answer|safe }}</p>
                </div>
                {% endif %}
                <form method="post" action="{% url 'save_conversation' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user_input" value="{{ user_input }}">
                    <input type="hidden" name="answer" value="{{ answer }}">
                    <div class="form-group">
                        <input class="favorites styled1" type="submit" value="この会話を保存">
                    </div>
                    
                </form>

                <h2></h2>

                <!--<div class="form-group save">-->
                    <a class="form-group save" href="{% url 'view_conversations' %}">保存した会話を見る▶</a>
                
                <!--<a style="color: rgb(80, 142, 142);" href="{% url 'top' %}">トップページへ戻る</a>-->
         </form>
     </div>
           
</body>

</html>