{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <!-- 他のメタタグとスクリプト -->
</head>

<header>
    <div class="ber">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <!--ここからメニュー-->
        <div class="menu-content">
            <ul>
                <li>
                    <a href="{% url 'question' %}">Question Page</a>
                </li>

                <li>
                    <a href="{% url 'user_login' %}">ログイン</a>
                </li>
                <li>
                    <a href="{% url 'user_logout' %}">ログアウト</a>
                </li>
                <li>
                    <a href="#">ライセンス</a>
                </li>
                <li>
                    <a href="#">ヘルプ</a>
                </li>
                <li>
                    <a href="question.html">お問い合わせ</a>
                </li>
            </ul>
        </div>
        <!--ここまでメニュー-->
    </div>

</header>
<nav>
    <ul>
    <li><a class="current" href="{% url 'question' %}">Question Page</a></li>
    <li><a href="{% url 'user_login' %}">ログイン</a></li>
    <li><a href="#">ログアウト</a></li>
    <li><a href="#">ヘルプ</a></li>
    <li><a href="#">問い合わせ</a></li>
    </ul>
</nav>
<body>
    <div class="cinema">
        <h1 style="text-align:center"><span>C</span>inema<span>C</span>ompass</h1>
    </div>
    <form style="text-align:center" method="post">
        {% csrf_token %}
        <label for="user_input">Your Question:</label>
        <input type="text" id="user_input" name="user_input">
        <button type="submit">Ask GPT-3</button>
    </form>

    {% if answer %}
    <div>
        <p><strong>Answer from GPT-3:</strong></p>
        <p>{{ answer|safe }}</p>
    </div>
    {% endif %}
    <form method="post" action="{% url 'save_conversation' %}">
        {% csrf_token %}
        <input type="hidden" name="user_input" value="{{ user_input }}">
        <input type="hidden" name="answer" value="{{ answer }}">
        <input  type="submit" value="この会話を保存">
    </form>
    <a href="{% url 'view_conversations' %}">保存した会話を見る</a>

</body>
</html>
