{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>


<body>
    <header>
        <div class="ber">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここからメニュー-->
            <div class="menu-content">
                <ul>
                    <li>
                        <a href="{% url 'question' %}">Question Page</a>
                    </li>

                    <li>
                        <a href="{% url 'user_login' %}">ログイン</a>
                    </li>
                    <li>
                        <a href="{% url 'user_logout' %}">ログアウト</a>
                    </li>
                    <li>
                        <a href="#">ライセンス</a>
                    </li>
                    <li>
                        <a href="#">ヘルプ</a>
                    </li>
                    <li>
                        <a href="question.html">お問い合わせ</a>
                    </li>
                </ul>
            </div>
            <!--ここまでメニュー-->
        </div>

    </header>

    <div style="text-align: center" class="cinema">
        <a  href ="{% url 'top' %}"><img  src="{% static 'jpg/CinemaCompass_tomei.jpg' %}" width="400" height="80"></a>
    </div>
    <div class="container">
        <form>
            <p style="text-align:center" class="fsize">ユーザー登録</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" >登録</button>
            </form>
        </form>
    </div>
    <div class="login">
        <a href="{% url 'user_login' %}">すでにアカウントを持っている方はこちら</a>
    </div>
</body>

</html>

