{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>CinemaCompass - 新規登録</title>
</head>


<body background="{% static 'images/back3.png' %}" width="1000" height="1000">
    <header>
        <div class="ber">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここからメニュー-->
            <div style="text-align: center;" class="menu-content">
                <ul>
                    <li>
                        <a href="{% url 'top' %}">トップページ</a>
                    </li>
                    <li>
                        <a href="{% url 'question' %}">Question Page</a>
                    </li>

                    <li>
                        <a href="{% url 'user_login' %}">ログイン</a>
                    </li>
                    <li>
                        <a href="{% url 'user_logout' %}">ログアウト</a>
                    </li>
                    <li>
                        <a href="#">ライセンス</a>
                    </li>
                    <li>
                        <a href="#">ヘルプ</a>
                    </li>
                    <li>
                        <a href="question.html">お問い合わせ</a>
                    </li>
                </ul>
            </div>
            <!--ここまでメニュー-->
        </div>

    </header>

    <div style="text-align: center" class="cinema">
        <a  href ="{% url 'top' %}"><img  src="{% static 'jpg/CinemaCompass_tomei.jpg' %}" width="400" height="80"></a>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <p style="text-align:center; color: aliceblue;" class="fsize">ユーザー登録</p>
            {{ form.as_p }}
            <p style="text-align: center;font-weight:bold;"><button  type="submit">登録</button></p>
        </form>
    </div>
    
    <div style="text-align: center" class="login">
        <a href="{% url 'user_login' %}">すでにアカウントを持っている方はこちら</a>
    </div>
</body>

</html>

