h1{
    color: rgb(245, 243, 243);
}

body {
    background-color: rgb(24, 37, 51);
}

label {
    color: #FFFFFF;
}

a{
    color: aquamarine;
}

.cinema span {
    color: rgb(125, 201, 255);
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584BB;
}
  
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #FFFFFF;
    position: absolute;
}
  
.menu-btn span:before {
    bottom: 8px;
}
  
.menu-btn span:after {
    top: 8px;
}
  
#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}
  
#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
  
#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
  
#menu-btn-check {
    display: none;
}
  
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584BB;
}
  
.menu-content ul {
    padding: 70px 10px 0;
}
  
.menu-content ul li {
    border-bottom: solid 1px #FFFFFF;
    list-style: none;
}
  
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
  
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
  
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584BB;
    transition: all 0.5s;
    /*アニメーション設定*/
}
  
#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}


nav ul{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    }
    nav ul li{
    display: inline-block;
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
    }
    nav ul li a::after,
    nav ul li a::before {
    display: block;
    content: ”;
    position: absolute;
    }
    nav ul li a::after {
    top: 10%;
    right: 0;
    width: 13px;
    height: 13px;
    background-color: #ccc;
    border-radius: 100%;
    }
    nav ul li a.current::after,
    nav ul li a:hover:after{
    background-color: #3498db;
    }
    nav ul li a::before {
    z-index: 2;
    top: 40%;
    right: 5px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    nav ul li a{
    text-decoration: none;
    color:#aaa;
    display: inline-block;
    width: 100%;
    }
    nav ul li a.current{
    color:#555;
    }
    nav ul li a:hover{
    color:#555;
    }
  