h1 {
    text-decoration: none;
    color: #f8efef;
    display: inline-block;
    width: 100%;
}

body {
    background-color: rgb(48, 50, 51);
}

label {
    color: #FFFFFF;
}

.save a {
    color: rgb(96, 179, 179);
}

.cinema span {
    color: rgb(125, 201, 255);
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584BB;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #FFFFFF;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584BB;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #FFFFFF;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3584BB;
    transition: all 0.5s;
}

#menu-btn-check:checked~.menu-content {
    left: 0;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}

nav ul li a::after,
nav ul li a::before {
    display: block;
    content: ”;
    position: absolute;
}

nav ul li a::after {
    top: 10%;
    right: 0;
    width: 13px;
    height: 13px;
    background-color: #ccc;
    border-radius: 100%;
}

nav ul li a.current::after,
nav ul li a:hover:after {
    background-color: #3498db;
}

nav ul li a::before {
    z-index: 2;
    top: 40%;
    right: 5px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}

nav ul li a {
    text-decoration: none;
    color: #aaa;
    display: inline-block;
    width: 100%;
}

nav ul li a.current {
    color: #555;
}

nav ul li a:hover {
    color: #555;
}

.user_input {
    width: 50%; /* 幅を50%に設定 */
    min-width: 200px; /* 最小幅を200pxに設定 */
    max-width: 600px; /* 最大幅を600pxに設定 */
    margin: 0 auto; /* 中央揃え */
    position: relative;
    font-size: 1rem;
    line-height: 1.8;
}

.FlexTextarea__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    min-height: 120px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
}

.user_input textarea {
    width: 100%; /* 幅を100%に設定 */
    min-height: 50px; /* 最小の高さ */
    overflow: hidden; /* 余分なスクロールバーを表示しない */
    resize: vertical; /* 垂直方向のみリサイズ可能に */
    border: 1px solid #b6c3c6;
    border-radius: 4px;
    padding: 5px 15px;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}

#user_input textarea:focus {
    box-shadow: 0 0 0 4px rgba(235, 242, 243, 0.3);
    outline: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.515); /* Semi-transparent black background */
    padding: 10px;
  }

.question-label {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.answer-label {
    color: #000000;
    display: block;
    text-align: center;
    margin: 10px 0;
}

.question-form {
    text-align: center; /* テキストを中央揃えにします */
    margin: 20px auto; /* 上下のマージンを設定し、左右は自動で中央に配置します */
    padding: 15px; /* パディングを設定します */
    background-color: #f8f8f8; /* 背景色を設定します */
    border-radius: 10px; /* 角を丸くします */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ボックスに影をつけて立体感を出します */
    width: 80%; /* 幅を80%に設定します */
    max-width: 500px; /* 最大幅を500pxに設定します */
}

.answer-section {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #fffcfc;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto; /* 中央揃えのための設定 */
    margin-right: auto; /* 中央揃えのための設定 */
    border-radius: 5px;
    width: 100%; /* 幅を100%に設定 */
    max-width: 66.66%; /* 最大幅を画面の横幅の2/3に設定 */
}

.answer-content {
    width: 100%; /* 幅を100%に設定 */
    max-width: 66.66%; /* 画面幅の2/3に合わせる */
    margin: 0 auto; /* 左右のマージンを自動で設定して中央に配置 */
    display: block; /* ブロック要素に設定 */
    color: #333;
    white-space: pre-wrap; /* 改行と空白を保持 */
    word-wrap: break-word; /* 長い単語は折り返す */
    overflow-wrap: break-word; /* 長い単語は折り返す */
}

.form-group {
    text-align: center;
    margin-bottom: 20px; /* 下部の余白 */
}

button,
.save a {
    display: block; /* ブロックレベル要素にします */
    margin: 10px auto; /* 上下に余白を設定し、左右は自動で中央に配置します */
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(8, 74, 255, 0.967);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(187, 137, 66, 0.688)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgba(42, 242, 132, 0.881);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  

  .styled1 {
    border: 0;
    line-height: 2.5;
    padding: 0 15px;
    font-size: 0.8rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(62, 106, 239, 0.762);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(187, 137, 66, 0.688)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled1:hover {
    background-color: rgba(42, 242, 125, 0.832);
  }
  
  .styled1:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }



