.errorlist li{
    color: crimson;
}

h1{
    color: rgb(244, 238, 238);
}

.cinema span {
    color: rgb(125, 201, 255);
}

.fsize{
    font-size: 24px;
    text-align: center;
}
p{
    font-weight: bold;
}

a{
    color:#c3fcff;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}


footer {
    color: #ffffff
}
  
header {
    background-color: #e9f0f4
}



body {
    background-color: #070404; /* Black */
    color: #ffffff; /* White text on a black background */
}
.container {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 20px;
}


.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584BB;
}
  
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #FFFFFF;
    position: absolute;
}
  
.menu-btn span:before {
    bottom: 8px;
}
  
.menu-btn span:after {
    top: 8px;
}
  
#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}
  
#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
  
#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
  
#menu-btn-check {
    display: none;
}
  
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584BB;
}
  
.menu-content ul {
    padding: 70px 10px 0;
}
  
.menu-content ul li {
    border-bottom: solid 1px #FFFFFF;
    list-style: none;
}
  
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
  
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
  
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584BB;
    transition: all 0.5s;
    /*アニメーション設定*/
}
  
#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}


.container p button{
    width: 40%;
    min-width: 100px;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #799a68;
    background: #5db853;
    cursor: pointer;
    border-radius: 4px;
    font-weight:bold;
    /*font-size: large;*/
}

.container p label{
    color: rgb(197, 61, 61);
}